doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/main.css")
        script(src="js/script.js", defer, type="module") 
    body
        .content
            .logo
                img(src="./img/logo.svg", alt="Airslate")
            form.form.js-form(action="")
                .form__title Log in to airSlate
                label.form__label(for="email")
                    <span>Email address </span>
                    input.form__input(type="email", name="email",data-type="email" placeholder="Input", autocomplete="off" required) 
                    .form__error Validation

                label.form__label(for="password")
                    <span>Password</span>
                    input.form__input(type="password", name="password",data-type="password" placeholder="Input",minlength="1" autocomplete="off" required) 
                    .form__error.mb-3 Validation

                .form__terms By clicking Log in, you agree to the #[a( href='#' ) Terms of Services] and #[a( href='#' ) Privacy Policy], including receipt of emails from of us about our service.

                button.button-default.button-submit.js-submit(role="submit") Log in

                .form__divider or continue with your social accounts

                .form__social-list
                    .item 
                        a.item__link(href="#") 
                            .item__link-icon 
                                img(src="./img/icon-Facebook.svg", alt="icon-Facebook")
                            .item__link-name Facebook
                    .item 
                        a.item__link(href="#") 
                            .item__link-icon 
                                img(src="./img/icon-Google.svg", alt="icon-Google")
                            .item__link-name Google
                    .item 
                        a.item__link(href="#") 
                            .item__link-icon 
                                img(src="./img/icon-Apple.svg", alt="icon-Apple")
                            .item__link-name Apple